body {
    margin: 0;
}

#mainWrapper {
    padding-top: 3vw;
    background-color: #b8c6db;
    background: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);    
    min-height: 50vw;
}

/* NavBar */


/* Camera Icon */
.navbar-brand i {
    font-size: 2vw;
    margin-left: 1vw;
}


/* Image Frames */

.img-frame {
    border-right: 1px solid #aaa;
    height: 10vw;
    width: 13.5vw;
}
.img-wrapper {
display: inline-block;
height: 100%;
width: 100%;
transition: 300ms;

}
.img-wrapper {transition-timing-function: ease-in-out;}

.img-wrapper:hover {
    position: relative;
    height: 110%;
    width: 110%;
    cursor: pointer;
}

.img {
    width: 100%;
    height: 100%;
}


/* Expanded Image Tools */

.tool-col {
    /* TEMP guides REMOVE AFTER DONE */

    height: 7vw;
}
.expanded-tool-frame {
    position: relative;
    margin-top: -5vw;
    z-index: 1;
    text-align: center;
    font-size: 6vw;
}

.expanded-tool-frame:hover {
    cursor: pointer;
}

.expanded-tool-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ccc;
}
.expanded-tool-text:hover {
    color: #999999;
}

/* Expanded Image */


.expanded-img-frame {
    height: 50vw;
    z-index: 0;
}

.expanded-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.expanded-img {
    width: 80%;
    height: 80%;
}
